.login-form{
  width: 520px;
  padding: 20px;

  fieldset{
    border: 0;
  }

  legend{
    display: none;
  }

  ol{
    list-style: none;
    padding: 0;

    li{
      display: flex;
      flex-direction: column;

      margin-bottom: 20px;
    }

  }

  button[type="submit"]{
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #BF214B;
    color: $white;
  }
}

@media screen and (min-width: $vw-medium) {
  .login-form{
    width: 400px;
    margin: 0 auto;
  ol{
    li{
      flex-direction: row;

      label{
        min-width: 150px;
      }
    }
  }
}
}

.wrapper{
  display: flex;
  justify-content: center;
  height: 900px;
  background-color: #C1D0D9;
}