.header-page{
  background-color: #BF214B;


  nav{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .toggle-menu{
    display: none;
  }

  .toggle-menu:checked + ul{
    display: block;
  }


  ul{

    display: none;

    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;

    li{
      position: relative;
    }

    li ul{
      display: none;
      position: static;

      li{
        min-width: 15px;
      }

    }

    a{
      display: block;
      padding: 20px 10px;
    }

    li:hover{
      background-color: lighten(#BF214B, 25%);

      ul{
        display: block;
      }

    }
  }



}


@media screen and (min-width: $vw-medium){

  .header-page{


    nav{
      justify-content: space-between;
      flex-direction: row;

      .show-menu{
        display: none;
      }

      ul{
        width: auto;
        display: flex;

        li ul{
          position: absolute;
          background-color: #BF214B;
          top: 100%;
          left: 0;
        }
      }
    }
  }


}